.banner {
  background: linear-gradient(0deg, #444 60%, #9192A4);
  background-attachment: fixed;
  height: 200px;
  padding: 25px 50px;
  text-align: center;
}

.banner h1 {
  color: rgba(255,255,255,0.25);
}

.banner p {
  color: rgba(0,0,0,0.75);
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.banner img {
  background: rgba(255,255,255,0.1);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
  margin: 15px;
  opacity: 50%;
  padding: 10px;
}
