footer {
  background: #333;
  padding: 50px 0;
  text-align: center;
  width: 100%;
}

footer p {
  color: #8F9AAD;
}

footer a {
  color: #2573E9;
}
footer a:hover {
  color: #2573E9;
  border-color: #2573E9;
}
