$nav-height: 35px;

@font-face {
  font-family: "AUdimat";
  src: url(../fonts/audimat/AUdimat-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Hack";
  src: url(../fonts/hack/Hack-Regular.otf);
  font-weight: normal;
}

html,
body {
  // background: #DDD;
  background-color: #232F35;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: $nav-height;
}

header {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
  text-align: center;
}

header h1 {
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}


input[type=number], input[type=color], input[type=text] {
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 20px;
}

$nav-background: rgb(34,123,250);
nav {
  background: $nav-background;
  height: $nav-height;
  margin: 0;
  padding: 0 15px;
  position: absolute;
  top: 0;
  width: 100%;
}

nav .logo {
  color: white;
  font-family: AUdimat;
  font-size: $nav-height - 10px;
  line-height: $nav-height;
  margin: 0;
  padding: 0;
}

.container {
  padding: 15px;
}

.content_container {
  background: white;
  box-shadow: 0 0 0px 10px #49555C;
  border-radius: 5px;
  display: inline-block;
  margin: 15px;
  padding: 10px;
  vertical-align: top;
}


$subnav-height: 25px;
$subnav-background: lighten($nav-background, 10%);
$subnav-li-background: white;
.subnav {
  background: $subnav-background;
  list-style: none;
  margin: 0;
  padding: 5px 15px;
}
.subnav li {
  background: $subnav-li-background;
  cursor: pointer;
  display: inline-block;
  height: $subnav-height;
  line-height: $subnav-height;
  margin: 0 10px;
  padding: 0 5px;
  position: relative;
}
.subnav li:hover { opacity: 0.75; }
.subnav li::before {
  content: url(../img/subnav/subnav-li-left.svg);
  display: inline-block;
  height: 25px;
  left: -10px;
  top: 0px;
  position: absolute;
  width: 10px;
}
.subnav li::after {
  content: url(../img/subnav/subnav-li-right.svg);
  display: inline-block;
  height: 25px;
  position: absolute;
  right: -10px;
  width: 10px;
}
