$nav-height: 35px;

@font-face {
  font-family: "AUdimat";
  src: url(../fonts/audimat/AUdimat-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: "Hack";
  src: url(../fonts/hack/Hack-Regular.otf);
  font-weight: normal;
}

html,
body {
  background: #EEE;
  // background-color: #232F35;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  // margin-top: $nav-height;
}

header {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
  text-align: center;
}

header h1 {
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}
h1 {
  background: #333;
  border-top: 3px solid rgb(50,50,50);
  color: white;
  font-size: 30px;
  font-weight: normal;
  height: 75px;
  letter-spacing: 0.025em;
  line-height: 75px;
  margin: 0;
  padding: 0;
}
h2 {
  color: rgba(0,0,0,0.75);
  font-weight: normal;
}

a, a:visited, a:active {
  border-bottom: 1px dotted rgba(0,0,20,0.5);
  color: rgba(0,0,0,0.75);
  text-decoration: none;
}
a:hover { color: #002CAA; }

dt { float: left; font-weight: bold; }
dd { display: inline-block; }

input[type=number], input[type=color], input[type=text] {
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 20px;
}

$nav-background: rgb(34,123,250);
nav {
  background: $nav-background;
  height: $nav-height;
  margin: 0;
  padding: 0 15px;
  position: absolute;
  top: 0;
  width: 100%;
}

nav .logo {
  color: white;
  font-family: AUdimat;
  font-size: $nav-height - 10px;
  line-height: $nav-height;
  margin: 0;
  padding: 0;
}

.aside {
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  margin: 0 auto 6px auto;
  max-width: 600px;
  text-align: center;
}
.aside a { color: rgba(0,0,0,0.5); }

.container {
  // padding: 15px;
  margin: 0 auto;
  text-align: center;
  // width: 50%;
}

.container_left {
  // float: left;
}

.content_container {
  // background: rgba(255,255,255,0.5);
  // box-shadow: 0 0 0px 10px #49555C;
  // border-radius: 5px;
  margin: 15px;
  padding: 10px;
  vertical-align: top;
}
.content_container:after { // clearfix
  content: "";
  display: table;
  clear: both;
}

.display_inlineBlock {
  display: inline-block;
}

$borderColor: rgba(0,0,0,0.25);
$borderPadding: 15px;
.border_bottom {
  border-bottom: 1px solid $borderColor;
  padding-bottom: $borderPadding;
}
.border_left {
  border-left: 1px solid $borderColor;
  padding-left: $borderPadding;
}
.border_right {
  border-right: 1px solid $borderColor;
  padding-right: $borderPadding;
}
.border_top {
  border-top: 1px solid $borderColor;
  padding-top: $borderPadding;
}

$subnav-height: 25px;
$subnav-background: lighten($nav-background, 10%);
$subnav-li-background: white;
.subnav {
  background: $subnav-background;
  list-style: none;
  margin: 0;
  padding: 5px 15px;
}
.subnav li {
  background: $subnav-li-background;
  cursor: pointer;
  display: inline-block;
  height: $subnav-height;
  line-height: $subnav-height;
  margin: 0 10px;
  padding: 0 5px;
  position: relative;
}
.subnav li:hover { opacity: 0.75; }
.subnav li::before {
  content: url(../img/subnav/subnav-li-left.svg);
  display: inline-block;
  height: 25px;
  left: -10px;
  top: 0px;
  position: absolute;
  width: 10px;
}
.subnav li::after {
  content: url(../img/subnav/subnav-li-right.svg);
  display: inline-block;
  height: 25px;
  position: absolute;
  right: -10px;
  width: 10px;
}

.hiddenMenu {
  margin: 15px 0;
}
.hiddenMenuContent {
  border: 1px dashed gray;
  border-radius: 5px;
  display: none;
  margin: 0;
  padding: 15px;
  text-align: left;
  visibility: hidden;
}
.hiddenMenuTitle {
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  cursor: pointer;
  display: table;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  // width: fit-content;
}
.hiddenMenuTitle:hover {
  background: #ddd;
  border-color: #aaa;
}
