.imageProcessor .invisible {
  display: none;
  visibility: hidden;
}

.imageProcessor canvas {
  height: 100px;
  width: 100px;
}

.imageProcessor .dragArea {
  background: #ccc;
  border-radius: 10px;
  height: 100px;
  width: 200px;
}

.imageProcessor .dragArea p {
  line-height: 100px;
  text-align: center;
}

.imageProcessor .uniqueColors {
  list-style: none;
  margin: 0;
  padding: 0;
}

.imageProcessor .uniqueColors li {
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 2px;
  width: 20px;
}
