$hoverColor: #ddd;

.jndParameters {
  list-style: none;
  margin: 0;
  padding: 0;
}

.jndParameters .value {
  background: #ddd;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Hack', monospace;
  font-size: 12px;
  min-width: 50px;
  padding: 3px;
  text-align: center;
}

.jndTable table {
  border: 1px solid #ddd;
}

.jndTable tr:nth-child(n+2):hover {
  background-color: $hoverColor;
}

.jndTable td, .cvdTable td {
  height: 20px;
  line-height: 20px;
  text-align: center;
  min-width: 20px;
  text-align: center;
}
.cvdTable tr td:first-child { text-align: right; }

.jndTable tr:first-child td:nth-child(n+2),
.jndTable tr:nth-child(n+2) td:first-child,
.cvdTable tr td:nth-child(n+2) {
  border: 1px solid #333;
}

.jndTable .notDifferent, .cvdTable .notDifferent {
  color: rgba(0,0,0, 0.5);
}
.jndTable .notDifferent {
  background-color: rgba(255,0,0,0.25);
}
