@import "scss/global.scss";
@import "scss/banner.scss";
@import "scss/footer.scss";
@import "scss/colorpicker.scss";
@import "scss/export.scss";
@import "scss/gradientpicker.scss";
@import "scss/imageprocessor.scss";
@import "scss/jndtable.scss";
@import "scss/palettepreview";
@import "scss/vispreview";
