@charset "UTF-8";
@font-face {
  font-family: "AUdimat";
  src: url(../fonts/audimat/AUdimat-Regular.otf);
  font-weight: normal; }
@font-face {
  font-family: "Hack";
  src: url(../fonts/hack/Hack-Regular.otf);
  font-weight: normal; }
html,
body {
  background: #EEE;
  padding: 0;
  margin: 0; }

body {
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 35px; }

header {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
  text-align: center; }

header h1 {
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  padding: 0; }

h1, h2 {
  color: rgba(0, 0, 0, 0.75);
  font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal; }

input[type=number], input[type=color], input[type=text] {
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 20px; }

nav {
  background: #227bfa;
  height: 35px;
  margin: 0;
  padding: 0 15px;
  position: absolute;
  top: 0;
  width: 100%; }

nav .logo {
  color: white;
  font-family: AUdimat;
  font-size: 25px;
  line-height: 35px;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  text-align: center; }

.content_container {
  margin: 15px;
  padding: 10px;
  vertical-align: top; }

.content_container:after {
  content: "";
  display: table;
  clear: both; }

.display_inlineBlock {
  display: inline-block; }

.border_bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 15px; }

.border_left {
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding-left: 15px; }

.border_right {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  padding-right: 15px; }

.border_top {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 15px; }

.subnav {
  background: #5499fb;
  list-style: none;
  margin: 0;
  padding: 5px 15px; }

.subnav li {
  background: white;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin: 0 10px;
  padding: 0 5px;
  position: relative; }

.subnav li:hover {
  opacity: 0.75; }

.subnav li::before {
  content: url(../img/subnav/subnav-li-left.svg);
  display: inline-block;
  height: 25px;
  left: -10px;
  top: 0px;
  position: absolute;
  width: 10px; }

.subnav li::after {
  content: url(../img/subnav/subnav-li-right.svg);
  display: inline-block;
  height: 25px;
  position: absolute;
  right: -10px;
  width: 10px; }

.banner {
  background: linear-gradient(0deg, #444 60%, #9192A4);
  background-attachment: fixed;
  height: 200px;
  padding: 25px 50px;
  text-align: center; }

.banner h1 {
  color: rgba(255, 255, 255, 0.25); }

.banner p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding: 0; }

.banner img {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin: 15px;
  opacity: 50%;
  padding: 10px; }

footer {
  background: #333;
  padding: 50px 0;
  text-align: center;
  width: 100%; }

footer p {
  color: #8F9AAD; }

.colorpicker > div {
  display: inline-block;
  vertical-align: top; }

#colorpicker_squareContainer {
  float: left; }

#colorpicker_square {
  border: 1px solid #ccc;
  height: 255px;
  margin: 5px 0 0 0;
  width: 255px; }

#colorpicker_bar {
  border: 1px solid #ccc;
  margin: 5px 0; }

#colorpicker_slider {
  height: 265px;
  margin: 0px;
  width: 10px;
  vertical-align: top; }

#colorpicker_slider .thumb {
  fill: #666; }

#colorpicker_slider .thumb:hover {
  cursor: -webkit-grab;
  fill: steelblue; }

#colorpicker_channels {
  background: rgba(255, 255, 255, 0.05); }

#colorpicker_channels ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#colorpicker_channels ul li {
  background: #eee;
  font-family: "Hack";
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0 0 0 2px;
  text-align: right; }

#colorpicker_channels ul li:nth-child(3n-2) {
  border-top-left-radius: 3px; }

#colorpicker_channels ul li:nth-child(3n), #colorpicker_channels ul li:last-child {
  border-bottom-left-radius: 3px; }

#colorspaceSwitcherMenu {
  list-style: none;
  margin: -3px 0 0 0;
  padding: 0;
  text-align: center; }

#colorspaceSwitcherMenu .active, #colorspaceSwitcherMenu li:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
  cursor: pointer; }

#colorspaceSwitcherMenu li {
  background: #eee;
  border: 1px solid #ccc;
  border-left: none;
  display: block;
  float: left;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  width: 52.75px; }

#colorspaceSwitcherMenu li:first-child {
  border-bottom-left-radius: 5px;
  border-left: 1px solid #ccc;
  width: 52.75px; }

#colorspaceSwitcherMenu li:last-child {
  border-bottom-right-radius: 5px; }

#colorpicker_channels ul .emptyRight {
  margin-right: 54px; }

#colorpicker_channels ul li:nth-child(3n) {
  margin-bottom: 10px; }

#colorpicker_channels ul li input {
  width: 50px; }

.previewColor {
  border: 1px solid #ccc;
  display: block;
  width: 60px; }

.previewColor button {
  display: block;
  width: 100%; }

.hoverColor, .selectedColor {
  height: 40px;
  width: 100%; }

.paletteTable {
  border-collapse: collapse;
  font-family: "Hack";
  font-size: 12px;
  margin: 0 auto;
  width: 500px; }

.paletteTable thead {
  background: #ddd; }

.paletteTable tbody tr {
  border-bottom: 1px solid #ddd; }

.paletteTable tfoot .palettePreview {
  height: 20px;
  image-rendering: pixelated;
  vertical-align: bottom;
  width: 200px; }

.paletteTable td {
  padding: 0 2px;
  text-align: center;
  width: 15px; }

.paletteTable td:nth-child(3) {
  width: 15px; }

.paletteTable td:nth-child(4) {
  width: 50px; }

.paletteTable td:nth-child(n+5) {
  text-align: left;
  width: 120px; }

.deletePaletteTableColor {
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  font-size: 15px;
  height: 15px;
  line-height: 15px;
  width: 15px; }

.deletePaletteTableColor:hover {
  background: #ccc; }

.paletteTable .paletteInputField {
  width: 200px; }

.gradientPicker canvas {
  height: 20px;
  margin-right: 5px;
  width: 200px; }

.gradientPicker .sequential {
  image-rendering: pixelated; }

.gradientList {
  font-family: "Hack";
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0; }

.gradientList li {
  line-height: 20px;
  height: 20px;
  margin: 0 0 5px 0; }

.gradientList li canvas {
  border: 1px solid #333;
  display: inline;
  vertical-align: bottom; }

.gradientList li input {
  font-size: 10px;
  height: 18px; }

.gradientPickerMenu .startColor, .gradientPickerMenu .stopColor {
  background: #eee;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px;
  width: 175px; }

.gradientPickerMenu .swatchList {
  list-style: none;
  margin: 0;
  min-height: 20px;
  padding: 0; }

.gradientPickerMenu .swatchList li {
  border: 1px solid #333;
  display: inline-block;
  margin: 2px;
  width: 20px;
  height: 20px; }

.cvdGradientPicker {
  font-size: 12px; }

.cvdGradientPicker canvas {
  height: 15px;
  width: 90px; }

.cvdGradientPicker table {
  margin: 0 auto; }

.cvdGradientPicker tr td:first-child {
  text-align: right; }

.imageProcessor .invisible {
  display: none;
  visibility: hidden; }

.imageProcessor canvas {
  height: 100px;
  width: 100px; }

.imageProcessor .dragArea {
  background: #ccc;
  border-radius: 10px;
  height: 200px;
  width: 195px; }

.imageProcessor .dropImg {
  max-height: 200px;
  max-width: 200px; }

.imageProcessor .dragArea p {
  line-height: 200px;
  text-align: center; }

.imageProcessor .imgContainer {
  width: 400px; }

.imageProcessor .imgContainer * {
  display: inline-block;
  vertical-align: top; }

.imageProcessor .uniqueColors {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 400px; }

.imageProcessor .uniqueColors li {
  border: 1px solid #eee;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin-right: 2px;
  width: 20px; }

.jndParameters {
  list-style: none;
  margin: 0;
  padding: 0; }

.jndParameters .value {
  background: #ddd;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Hack', monospace;
  font-size: 12px;
  min-width: 50px;
  padding: 3px;
  text-align: center; }

.jndTable table {
  border: 1px solid #ddd; }

.jndTable table, .cvdTable {
  margin: 0 auto; }

.jndTable tr:nth-child(n+2):hover {
  background-color: #ddd; }

.jndTable td, .cvdTable td {
  height: 20px;
  line-height: 20px;
  text-align: center;
  min-width: 20px;
  text-align: center; }

.cvdTable tr td:first-child {
  text-align: right; }

.jndTable tr:first-child td:nth-child(n+2),
.jndTable tr:nth-child(n+2) td:first-child,
.cvdTable tr td:nth-child(n+2) {
  border: 1px solid #333; }

.jndTable .notDifferent, .cvdTable .notDifferent {
  color: rgba(0, 0, 0, 0.5); }

.jndTable .notDifferent {
  background-color: rgba(255, 0, 0, 0.25); }

.palettePreview {
  background: #ccc;
  height: 100px;
  image-rendering: pixelated;
  width: 100%; }

.palettePreviewList {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }

.palettePreviewList::before {
  content: "Palette Preview";
  color: rgba(0, 0, 0, 0.25);
  line-height: 100px;
  position: absolute;
  margin: 0 auto;
  left: 50%; }

.palettePreviewList li {
  display: inline-block;
  line-height: 20px;
  height: 100px;
  margin: 0;
  position: relative; }

.palettePreviewList li::before {
  content: "×";
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
  line-height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  overflow: hidden;
  width: 100%; }

.palettePreviewList li:hover {
  cursor: pointer; }

.palettePreviewList li:hover::before {
  opacity: 1.0; }

/*# sourceMappingURL=main.css.map */
